{% include "components/report_summary.html" %}
{% if health_report.entitlements.body_unlocked %}
  {% include "components/report_dimension_checks.html" %}
  {% if health_report.entitlements.structure_unlocked %}
    {% include "components/report_remediation_plan.html" %}
    {% include "components/report_financing_capacity.html" %}
    {% include "components/report_action_plan.html" %}
  {% else %}
    {% if health_report.entitlements.bank_match_unlocked %}{% include "components/report_legacy_bank_match.html" %}{% endif %}
    {% set lock_level = 'structure' %}{% include "components/report_paid_lock.html" %}
  {% endif %}
{% else %}
  {% set lock_level = 'report' %}{% include "components/report_paid_lock.html" %}
{% endif %}
